$maxMobile: (max-width: 767px);
$minSmall: (min-width: 768px);
$maxsmall: (max-width: 991px);
$minMedium: (min-width: 992px);
$minLarge: (min-width: 1200px);

$mainColor : #10cab7;
$secondaryColor: #2c4755;
$sectionBackground: #f6f6f6;
$pColor: #777;